{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    var selectUser = function(btn){
        var username = $(btn).attr('username');
            $.ajax({
                type: "POST",
                url: "/admin/user/add",
                dataType: "json",
                data:{"username":username},
                success: function (data) {
                    window.location="/admin/user";
                },
                error: function () {
                    $('#userSelect').html("<p>No matching users</p>");
                    $('.selectUserButton').hide();
                }
            });

      };
    $(document).ready(function() {
        $('#userSearchFormUsername').on('submit', function (event) {
            event.preventDefault();
            var username = $('#username').val()
            $.ajax({
                type: "GET",
                url: "/checkout/findUserName/" + username,
                dataType: "json",
                success: function (data) {
                    var userSelect = "<span>Found: </span>";
                    data.users.forEach(function (user) {
                        userSelect += '<div><span>' + user.name + ' - ' + user.username + '</span><button onclick="selectUser(this);" type="button" data-id="{{ checkout.id }}" username="' + user.username + '" class="btn btn-primary btn-xs selectUserButton">Select</button></div>';
                    });


                    if (data.users.length == 0) {
                        userSelect = "<p>No matching users</p>";
                    }

                    $('#userSelect').html(userSelect);
                },
                error: function () {
                    $('#userSelect').html("<p>No matching users</p>");
                    $('.selectUserButton').hide();
                }
            });
        });
    });
</script>
<div class="container tableHeader">
    <h3>Search for User</h3>
</div>
<div class="container">
    <form id="userSearchFormUsername" class="input-group">
        {% csrf_token %}
        <input class="form-control" type="text" size="15" placeholder="RIT Username" required name="username" id="username">
        <span class="input-group-btn">
          <input class="btn" type="submit" value="Search">
        </span>
    </form>
    <div>
        <div id="userSelect"></div>
    </div>
</div>
{% endblock %}