{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Edit User</h3>
        </div>
    </div>
</div>

<div class="container">
    <form action="/admin/user/{{ user.id }}/edit" class="form-signin" method="post" enctype="multipart/form-data">
        <div class="row">
                {% csrf_token %}
            <div class="col-sm-6">
                <select class="form-control form-group" name="user_type">
                    <option value="user" {% if user_type == "user" %}selected{% endif %}>User</option>
                    <option value="labassistant" {% if user_type == "labassistant" %}selected{% endif %}>Lab Assistant</option>
                    <option value="admin" {% if user_type == "admin" %}selected{% endif %}>Admin</option>
                </select>
                {% if user_type != "user" %}
                <input class="form-control" placeholder="Password" type="password" name="password">
                <br/>
                {% endif %}
                <button type="submit" class="save btn btn-success">Edit User</button>

            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </form>
</div>
{% endblock %}