{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
    <script>
        $(document).ready(function(){
            $('#categorySelect').on('change',function(){
                    var e = document.getElementById("categorySelect");
                    var selectedCategory = e.options[e.selectedIndex].value;
                    console.log(selectedCategory);

                    var subSelect = "<select name='subCategory' id='subCategory' required> <option  value=''>-- Select a Sub Category --</option>";
                                {% for s in subcategories %}
                                    if( "{{ s.itemCategoryID.id }}" == selectedCategory){
                                        subSelect += "<option value='{{ s.id }}'>{{ s.subCategoryName }}</option>";
                                    }
                                {% endfor %}
                        subSelect += '</select>';
                    $('#subcategoryDiv').html(subSelect);

                });
        });
    </script>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-6">
            <h1>Add New Item</h1>
        </div>
        <div class="col-sm-6 text-right">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id="additemtypeform" action="" class="form-group" method="post" enctype="multipart/form-data">
                <label>Select a Category</label><br/>
                <select name="categorySelect" id="categorySelect" required>
                    <option value="">-- Select a Category --</option>
                    {% for c in categories %}
                        <option value="{{ c.id }}">{{ c.categoryName }}</option>
                    {% endfor %}
                </select>

                <div id="subcategoryDiv"></div>

                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-right">
                    <button id="additemtypebutton" type="submit" class="save btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Item</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}