{% extends 'loggedinbase.html' %} {% block content %} {% load widget_tweaks %}

<div class="container">
    <h3 style="margin-bottom: 32px">Add new item</h3>

    <form action=""
          class="form-horizontal"
          method="post">

        {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
        <div class="form-group {% if form.fieldname.errors %}has-success{% endif %}">
            <label class="col-sm-2 control-label"
                   for="{{ field.id_for_label }}">{{field.label}}
            </label>

            <div class="col-sm-10">
                {{field | add_class:"form-control"}}
            </div>

            <span id="{{field.auto_id}}"
                  class="help-block">
                {{ field.errors }}
            </span>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"
                        class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}