{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
    <script>
        $(document).ready(function(){
            $('#categorySelect').on('change',function(){
                    console.log('{{ selectedCategory }}');
                    console.log(this);
                });
        });
    </script>

    <div>
        <form id="additemtypeform" action="" class="form-signin" method="post" enctype="multipart/form-data">
            <select name="categorySelect" id="categorySelect" value="{{ selectedCategory }}">
                {% for c in categories %}
                    <option value="{{ c.id }}">{{ c.categoryName }}</option>
                {% endfor %}
            </select>
{{ selectedCategory }}
             <select name="subcategorySelect" id="subcategorySelect">
                {% for s in subcategories %}
                    {% if s.itemCategoryID.id == selectedCategory %}
                        <option value="{{ s.id }}">{{ c.subCategoryName }}</option>
                    {%  endif %}
                {% endfor %}
            </select>

            {% csrf_token %}
            {{ form.as_p }}
            <button id="additemtypebutton" type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}