{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
    <script>
        $(document).ready(function(){
            $('#categorySelect').on('change',function(){
                    var e = document.getElementById("categorySelect");
                    var selectedCategory = e.options[e.selectedIndex].value;
                    console.log(selectedCategory);

                    var subSelect = "<select name='subCategorySelect' id='subCategorySelect'>";
                                {% for s in subcategories %}
                                    console.log("{{ s.id }}");
                                    {% if s.itemCategoryID.id == selectedCategory %}
                                       subSelect += '<option value="{{ s.id }}">{{ s.subCategoryName }}</option>';
                                    {% endif %}
                                {% endfor %}
                                subSelect += '</select>';

                    $('#subcategoryDiv').html(subSelect);

                });
        });
    </script>

    <div>
        <form id="additemtypeform" action="" class="form-signin" method="post" enctype="multipart/form-data">
            <select name="categorySelect" id="categorySelect">
                {% for c in categories %}
                    <option value="{{ c.id }}">{{ c.categoryName }}</option>
                {% endfor %}
            </select>

            <div id="subcategoryDiv"></div>

            {% csrf_token %}
            {{ form.as_p }}
            <button id="additemtypebutton" type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}