{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-6">
            <h1>Add Subcategory </h1>
        </div>
        <div class="col-sm-6 text-right">

        </div>
    </div>
</div>
<div class="container">
	<div class="row">
	    <div class="col-sm-12">
	        <form action="" class="form-category" method="post" enctype="multipart/form-data">
	            <div class="row">
	                {% csrf_token %}
	                {% for field in form %}
	                <div class="col-sm-6">

	                    <fieldset class="form-group">
	                      
	                            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
	                                <input type="text" class="form-control"
	                                    name="{{ field.name }}"
	                                    id="id_{{ field.name }}"
	                                    value="{{ field.value }}" > 
	                            <p class="help-text">{{ field.help_text }} </p>
	                    </fieldset>
	                </div>

	                {% endfor %}
	            </div>
	            <div class="text-right">
	            	<button type="submit" class="save btn btn-lg btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Subcategory</button>
	            </div>
	        </form>
	    </div>
	</div>
</div>
{% endblock %}