{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.checkinButton').on('click',function(){
            window.location="/checkin/checkin_item/"+$(this).attr('data-id');
        });
    });
</script>

<div class="container-fluid tableHeader">
    <div class="row">
        <div class="col-xs-6">
            <h1>Item Check In </h1>
        </div>
        <div class="col-xs-6">
            <br/>
            <div class="row">
                <div class="col-xs-8 text-right">
                    <b>Status:</b>
                </div>
                <div class="col-xs-4 text-left">
                    {% if checkout.status == 'Open' %}
                        <span class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> {{ checkout.status }}</span>
                    {% elif checkout.status == 'Closed' %}
                        <span class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> {{ checkout.status }}</span>
                    {% elif checkout.status == 'Checked in' %}
                        <span class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> {{ checkout.status }}</span>
                    {% elif checkout.status == 'Checked out' %}
                        <span class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> {{ checkout.status }}</span>
                    {% elif checkout.status == 'Pending' %}
                        <span class="btn btn-warning btn-xs"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ checkout.status }}</span>
                    {% else %}
                        <span class="btn btn-info btn-xs">{{ checkout.status }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 text-right">
                    <b>Checked Out To:</b> 
                </div>
                <div class="col-xs-4 text-left">
                    {{ checkout.person }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table id="itemTable" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Tags</th>
                        <th>Location</th>
                        <th>Checkout Status</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for checkoutitem in checkout.checkoutitem_set.all %}
                        <tr>
                            <td>{{ checkoutitem.item.name }}</td>
                            <td>{{ checkoutitem.item.manufacturer }}</td>
                            <td>{{ checkoutitem.item.model }}</td>
                            <td>{{ checkoutitem.item.tag }}</td>
                            <td>{{ checkoutitem.item.location }}</td>
                            <td>{{ checkoutitem.item.checkoutStatus }}</td>
                            <td>{{ checkoutitem.dateTimeDue }}</td>
                            <td>
                                <button type="button" data-id="{{ checkoutitem.id }}" class="btn btn-primary btn-xs checkinButton">Check In</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}