{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.checkinButton').on('click',function(){
            window.location="/checkin/checkin_item/"+$(this).attr('data-id');
        });
    });


</script>

<div style="margin: 15px;">
    <p>Checked out To: {{ checkout.person }}</p>
    <p>Checkout Status: {{ checkout.status }}</p>

</div>


<div style="margin: 15px;">
    <table id="itemTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Tags</th>
                <th>Cost</th>
                <th>Location</th>
                <th>Checkout Status</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for checkoutitem in checkout.checkoutitem_set.all %}
                <tr>
                    <td>{{ checkoutitem.item.name }}</td>
                    <td>{{ checkoutitem.item.description }}</td>
                    <td>{{ checkoutitem.item.manufacturer }}</td>
                    <td>{{ checkoutitem.item.model }}</td>
                    <td>{{ checkoutitem.item.serial }}</td>
                    <td>{{ checkoutitem.item.tag }}</td>
                    <td>{{ checkoutitem.item.cost }}</td>
                    <td>{{ checkoutitem.item.location }}</td>
                    <td>{{ checkoutitem.item.checkoutStatus }}</td>
                    <td>{{ checkoutitem.dateTimeDue }}</td>
                    <td>
                        <button type="button" data-id="{{ checkoutitem.id }}" class="btn btn-primary btn-xs checkinButton">Check In</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}