{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function() {
        $('#itemTable').DataTable();

        $('.viewButton').on('click', function () {
            window.location = "/item/" + $(this).attr('data-id');
        });

        $('.removeButton').on('click', function () {
            window.location = "/checkout/removeItem/" + $(this).attr('data-id');
        });

        $('.clearButton').on('click', function () {
            window.location = "/checkout/clear";
        });

        $('.completeButton').on('click', function () {
            window.location = "/checkout/complete";
        });

        $('.resetButton').on('click', function () {
            window.location = "/checkout/resetDueDate/" + $(this).attr('data-id');
        });

        $('#userSearchForm').on('submit', function (event) {
            console.log('searching');
            event.preventDefault();
            $.ajax({
                type: "GET",
                url: "/checkout/findUser/"+$('#username').val(),
                success: function (data) {
                    console.log(data);

                    var userSelect = "<span>" + data + "</span>";
                        userSelect += "<button type='button' data-id="{{ checkout.id }}" username = " + data.username + "class='btn btn-primary btn-xs selectUserButton'>Select</button>";
                    $('#userSelect').html(userSelect);
                },
                error: function () {
                    var userSelect = "<p>No users found</p>";
                    $('#userSelect').html(userSelect);
                }
            });
        });

        $('.selectUserButton').on('click', function () {
            $.ajax({
                type: "GET",
                url: "/checkout/"+$(this).attr('data-id')+"addUser/"+$(this).attr('username'),
                success: function (data) {
                    console.log(data);
                    $('#userSelect').html('');
                },
                error: function () {
                    var userSelect = "<p>Failed to select user</p>";
                    $('#userSelect').html(userSelect);
                }
            });
        });
    });


</script>

<div style="margin: 15px;">
    <form id="userSearchForm">
        {% csrf_token %}
        <p>Search for user</p>
        <label for="username">Username:</label>
        <input type="text" size="15" required name="username" id="username">
        <input type="submit" value="Search">
    </form>

    <div id="userSelect">

    </div>

    <p>Checkout To: {{ checkout.person }}</p>
    <p>Checkout Status: {{ checkout.status }}</p>
</div>


<div style="margin: 15px;">
    <table id="itemTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Tags</th>
                <th>Cost</th>
                <th>Location</th>
                <th>Checkout Status</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for checkoutitem in checkout.checkoutitem_set.all %}
                <tr>
                    <td>{{ checkoutitem.item.ItemTypeID.name }}</td>
                    <td>{{ checkoutitem.item.ItemTypeID.description }}</td>
                    <td>{{ checkoutitem.item.ItemTypeID.manufacturer }}</td>
                    <td>{{ checkoutitem.item.ItemTypeID.model }}</td>
                    <td>{{ checkoutitem.item.serial }}</td>
                    <td>{{ checkoutitem.item.tag }}</td>
                    <td>{{ checkoutitem.item.cost }}</td>
                    <td>{{ checkoutitem.item.location }}</td>
                    <td>{{ checkoutitem.item.checkoutStatus }}</td>
                    <td>
                        <div>
                            {{ checkoutitem.dateTimeDue }}
                        </div>
                        <form action="/checkout/{{ checkoutitem.id }}/overrideDate" class="form-signin" method="post">
                            {% csrf_token %}
                            <input type="datetime" name="overrideDate" placeholder="YYYY-MM-DD HH:MM">
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    </td>
                    <td>
                        <button type="button" data-id="{{ checkoutitem.id }}" class="btn btn-primary btn-xs resetButton">Reset Due Date</button>
                        <button type="button" data-id="{{ checkoutitem.item.id }}" class="btn btn-primary btn-xs removeButton">Remove</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" data-id="{{ checkout.id }}" class="btn btn-primary btn-xs clearButton">Remove All Items</button>
    <button type="button" data-id="{{ checkout.id }}" class="btn btn-primary btn-xs completeButton">Complete Checkout</button>
</div>
{% endblock %}