{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
		$('#itemTable').DataTable();

        $('#checkoutButton').on('click',function(){
	        window.location="/checkout/";

	    });
	    $('#checkinButton').on('click',function(){
	        window.location="/checkin/";
	    });
	    $('#allitemsButton').on('click',function(){
	        window.location="/item/";
	    });
	    $('#categoriesButton').on('click',function(){
	        window.location="/category/";
	    });
	    $('#reservationsButton').on('click',function(){
	        window.location="/reservationRequest/pending";
	    });

	    $('.viewButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/items";
        });
        $('.checkoutItemButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/checkout";
        });
        $('#accountButton').on('click',function(){
            window.location="/user/account";
        });
	});
</script>
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h3>Dashboard</h3>
            </div>
            <div class="col-sm-9">
                <br/>
                <form method="POST" action="/dashboard/search" class="input-group">
                    {% csrf_token %}
                    <input class="form-control" type="text" required name="search" value="{{ searchedText }}" placeholder="Search Items in Inventory">
                    <span class="input-group-btn">
                        <input class="btn" type="submit" value="Search">
                    </span>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            {% if  searched == True %}
                <h4>Search Results</h4>
                <table id="itemTable" class="display">
                    <thead>
                        <tr>
                            <th class="text-right">Item</th>
                            <th>Model</th>
                            <th>Tag</th>
                            <th>Barcode</th>
                            <th>Location</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td  class="viewButton text-right" data-id="{{ item.ItemTypeID.id }}"><b>{{ item.ItemTypeID.name }}</b></td>
                                <td class="viewButton" data-id="{{ item.ItemTypeID.id }}"><small>{{ item.ItemTypeID.model }}</small></td>
                                <td data-id="{{ item.ItemTypeID.id }}" class="viewButton"><small>{{ item.tag }}</small></td>
                                <td data-id="{{ item.ItemTypeID.id }}" class="viewButton"><small>{{ item.barcode }}</small></td>
                                <td data-id="{{ item.ItemTypeID.id }}" class="viewButton"><small>{{ item.location }}</small></td>

                                {% if item.checkoutStatus == 'Checked in' %}
                                <td data-id="{{ item.id }}" class="checkoutItemButton"><span class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> {{ item.checkoutStatus }}</span></td>
                                {% elif item.checkoutStatus == 'Checked out' %}
                                <td data-id="{{ item.id }}" class="checkoutItemButton"><span class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> {{ item.checkoutStatus }}</span></td>
                                {% else %}
                                <td data-id="{{ item.id }}" class="checkoutItemButton"><span class="btn btn-xs"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ item.checkoutStatus }}</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <div class="row">
    	<div class="col-sm-4 text-center">
    		<button id="allitemsButton" class="btn btn-wide btn-primary btn-lg"><i class="fa fa-2x fa-list" aria-hidden="true"></i><br/>All Items</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="categoriesButton" class="btn btn-wide btn-primary btn-lg"><i class="fa fa-2x fa-list-ul" aria-hidden="true"></i><br/>All Categories</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="reservationsButton" class="btn btn-wide btn-primary btn-lg"><i class="fa fa-2x fa-gavel" aria-hidden="true"></i><br/>Pending<br/>Reservations</button>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-4 text-center">
    		<button id="checkoutButton" class="btn btn-wide btn-warning btn-lg"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i><br/>Item Check Out</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="checkinButton" class="btn btn-wide btn-warning btn-lg"><i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i><br/>Item Check In</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="accountButton" class="btn btn-wide btn-lg"><i class="fa fa-2x fa-user" aria-hidden="true"></i><br/>Account</button>
    	</div>

    </div>

</div>
{% endblock %}