{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
		$('#itemTable').DataTable();

        $('#checkoutButton').on('click',function(){
	        window.location="/checkout/";

	    });
	    $('#checkinButton').on('click',function(){
	        window.location="/checkin/";
	    });
	    $('#allitemsButton').on('click',function(){
	        window.location="/item/";
	    });
	    $('#categoriesButton').on('click',function(){
	        window.location="/category/";
	    });
	    $('#reservationsButton').on('click',function(){
	        window.location="/reservationRequest/pending";
	    });

	    $('.viewAvailable').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/items";
        });
	});
</script>
<div class="container-fluid">
    <div class="container-fluid">
        <h3>Search</h3>
    </div>
    <div class="row">
        <form method="POST" action="/dashboard/search">
            {% csrf_token %}
            <input type="text" required name="search" value="{{ searchedText }}" placeholder="Item Name">
            <input type="submit" value="Search">
        </form>

        {% if  searched == True %}
            <h4>Search Results</h4>
            <table id="itemTable" class="display">
                <thead>
                    <tr>
                        <th class="text-right">Item</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td  class="viewButton text-right" data-id="{{ item.id }}"><b>{{ item.name }}</b></td>
                            <td class="viewButton" data-id="{{ item.id }}"><small>{{ item.manufacturer }}</small></td>
                            <td class="viewButton" data-id="{{ item.id }}"><small>{{ item.model }}</small></td>
                            <td class="viewButton" data-id="{{ item.id }}"><small>{{ item.description }}</small></td>
                            <td class="col-xs-2">
                                <button type="button" data-id="{{ item.id }}" class="btn btn-primary btn-xs viewAvailable"><i class="fa fa-eye" aria-hidden="true"></i> View Available</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>



    <div class="container-fluid">
        <h3>Dashboard</h3>
    </div>

    <div class="row">
    	<div class="col-sm-4 text-center">
    		<button id="allitemsButton" class="btn btn-wide btn-primary btn-lg"><i class="fa fa-2x fa-list" aria-hidden="true"></i><br/>All Items</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="categoriesButton" class="btn btn-wide btn-primary btn-lg"><i class="fa fa-2x fa-list-ul" aria-hidden="true"></i><br/>All Categories</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="reservationsButton" class="btn btn-wide btn-primary btn-lg"><i class="fa fa-2x fa-gavel" aria-hidden="true"></i><br/>Pending<br/>Reservations</button>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-4 text-center">
    		<button id="checkoutButton" class="btn btn-wide btn-warning btn-lg"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i><br/>Item Check Out</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="checkinButton" class="btn btn-wide btn-warning btn-lg"><i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i><br/>Item Check In</button>
    	</div>
    	<div class="col-sm-4 text-center">
    		<button id="accountButton" class="btn btn-wide btn-lg"><i class="fa fa-2x fa-user" aria-hidden="true"></i><br/>Account</button>
    	</div>

    </div>
    <div class="row">

    	<div class="col-sm-4 text-center">
    		<button id="settingsButton" class="btn btn-wide btn-lg"><i class="fa fa-2x fa-gear" aria-hidden="true"></i><br/>Settings</button>
    	</div>
    </div>
</div>
{% endblock %}