{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-8">
            <h1>Edit Item </h1>
        </div>
        <div class="col-sm-4 text-right">

        </div>
    </div>
</div>
<div class="container">
	<div class="row">
	    <div class="col-sm-12">
	        <form action="/item/{{ itemType.id }}/{{ item.id }}/edit" class="form-category" method="post" enctype="multipart/form-data">
	            {% csrf_token %}
	            {{ form.as_p }}
	            <div class="text-right">
	            	<button type="submit" class="save btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
	            </div>
	        </form>
	    </div>
	</div>
</div>
{% endblock %}