{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
    <script>
        $(document).ready(function(){
            $('#categorySelect').on('change',function(){
                    var e = document.getElementById("categorySelect");
                    var selectedCategory = e.options[e.selectedIndex].value;
                    console.log(selectedCategory);

                    var subSelect = "<select name='subCategory' id='subCategory' required> <option  value=''>-- Select a Sub Category --</option>";
                                {% for s in subcategories %}
                                    if( "{{ s.itemCategoryID.id }}" == selectedCategory){
                                        subSelect += "<option value='{{ s.id }}' >{{ s.subCategoryName }}</option>";
                                    }
                                {% endfor %}
                        subSelect += '</select>';
                    $('#subcategoryDiv').html(subSelect);

                });
        });
    </script>

    <div>
        <form action="/item/{{ item.id }}/edit" class="form-signin" method="post" enctype="multipart/form-data">
            <select name="categorySelect" id="categorySelect" required>
                <option value="">-- Select a Category --</option>
                {% for c in categories %}
                    <option value="{{ c.id }}" {% if c.id == item_type.subCategoryID.itemCategoryID %} selected='selected'{% endif %} >{{ c.categoryName }}</option>
                {% endfor %}
            </select>

            <div id="subcategoryDiv">
                <select name="subCategory" id="subCategory" required>
                    <option value="">-- Select a Sub Category --</option>
                    {% for s in subcategories %}
                        <option value="{{ s.id }}" {% if s.id == item.subCategoryID.id %} selected='selected'{% endif %} >{{ s.subCategoryName }}</option>
                    {% endfor %}
                </select>

            </div>

            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Edit Item</button>
        </form>
    </div>
{% endblock %}