{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
    <script>
        $(document).ready(function(){
            $('#categorySelect').on('change',function(){
                    var e = document.getElementById("categorySelect");
                    var selectedCategory = e.options[e.selectedIndex].value;
                    console.log(selectedCategory);

                    var subSelect = "<select name='subCategory' id='subCategory' required> <option  value=''>-- Select a Sub Category --</option>";
                                {% for s in subcategories %}
                                    if( "{{ s.itemCategoryID.id }}" == selectedCategory){
                                        subSelect += "<option value='{{ s.id }}' >{{ s.subCategoryName }}</option>";
                                    }
                                {% endfor %}
                        subSelect += '</select>';
                    $('#subcategoryDiv').html(subSelect);

                });
        });
    </script>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-8">
            <h1>Edit Item: <a href="../{{item.id}}">{{item}}</a></h1>
        </div>
        <div class="col-sm-4 text-right">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <form action="/item/{{ item.id }}/edit" class="form-category" method="post" enctype="multipart/form-data">
             <label for="categorySelect">Select a Category</label>
            <select class="form-control" name="categorySelect" id="categorySelect" required>
                <option value="">Select a Category</option>
                {% for c in categories %}
                    <option value="{{ c.id }}" {% if c.id == categoryid %} selected='selected'{% endif %} >{{ c.categoryName }}</option>
                {% endfor %}
            </select>
            <div id="subcategoryDiv">
                <select class="form-control" name="subCategory" id="subCategory" required>
                    <option value="">Select a Sub Category</option>
                    {% for s in subcategories %}
                        <option value="{{ s.id }}" {% if s == item.subCategoryID %} selected='selected'{% endif %} >{{ s.subCategoryName }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="row">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-sm-3">

                    <fieldset class="form-group">
                      
                            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            {% if field.label != 'Image' %}
                                {% if field.label != 'NeedsSignature' %}
                                <input type="text" class="form-control"
                                    name="{{ field.name }}"
                                    id="id_{{ field.name }}"
                                    value="{{ field.value }}" > 
                                {% endif %}
                            {% endif %}
                            {% if field.label == 'Image' %}
                            <input type="file" class="form-control"
                                name="{{ field.name }}"
                                id="id_{{ field.name }}"
                                value="{{ field.value }}" > 
                            {% endif %}
                            {% if field.label == 'NeedsSignature' %}
                            <div class="checkbox"><label>
                                <input type="checkbox"
                                    name="{{ field.name }}"
                                    id="id_{{ field.name }}"
                                {% if field.value %} checked {% endif %}> {{ field.label }}
                            </label></div>
                            {% endif %}
                            <p class="help-text">{{ field.help_text }} </p>
                    </fieldset>
                </div>

                {% endfor %}
            </div>
            <div class="text-right">
                <button type="submit" class="save btn btn-lg btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}