{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('.removeButton').on('click',function(){
            window.location="/checkout/removeItem/"+$(this).attr('data-id');
        });

        $('.completeButton').on('click',function(){
            window.location="/checkout/complete";
        });
        $('#cancelButton').on('click',function(){
            window.location="../../reservation";
        });
    });


</script>
<div class="container-fluid tableHeader">
    <div class="row">
        <div class="col-sm-10">
            <h1>Request to Reserve: <a href="../../item/{{request.id}}">{{request.itemTypeID}}</a></h1>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>
<div class="container-fluid tableHeader">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Subcategory</th>
                        <th>Requested By</th>
                        <th>Requested For</th>
                        <th>Required Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>{{ request.itemTypeID }}</b></td>
                        <td>{{ request.itemSubCategoryID.subCategoryName }}</td>
                        <td>{{ request.requester }}</td>
                        <td>{{ request.personRequestedFor }}</td>
                        <td>{{ request.classRequestedFor }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-6">

            <div>
                <form action="" class="form-category" method="post">
                    {% csrf_token %}
                    
                    {% for field in form %}
                     <div class="form-group col-sm-6 {% if form.fieldname.errors %}has-success{% endif %}">
                         <label class="control-label"
                                for="{{ field.id_for_label }}">{{field.label}} 
                         </label>
             
                        {{field | add_class:"form-control"}}
             
                         <span id="{{field.auto_id}}"
                               class="help-block">
                             {{ field.errors }}
                         </span>
                    </div>
                     {% endfor %}

                    <div class="text-right col-sm-12">
                        <button type="submit" class="save btn btn-lg btn-success"><i class="fa fa-check" aria-hidden="true"></i> Approve</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">

            <div>
                <form action="/reservationRequest/decline/{{ request.id }}" class="form-category form-decline" method="post">
                    {% csrf_token %}
                    
             
                    <div class="form-group col-sm-12">
                        <label class="control-label" for="reason">Reason for Declining</label>
                        <input class="form-control" name="reason" id ="reason" type="text" required style="width: 100%">
                        <span id="{{field.auto_id}}"
                               class="help-block">
                             {{ field.errors }}
                         </span>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="save btn btn-lg btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Decline</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="text-center">
            <button class="save btn btn-lg" id="cancelButton"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        </div>
    </div>
</div>
{% endblock %}