{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        //-- Click on QUANTITY
        $(".btn-minus").on("click",function(){
            var now = $(".section > div > input").val();
            if ($.isNumeric(now)){
                if (parseInt(now) -1 > 0){ now--;}
                $(".section > div > input").val(now);
            }else{
                $(".section > div > input").val("1");
            }
        });
        $(".btn-plus").on("click",function(){
            var now = $(".section > div > input").val();
            if ($.isNumeric(now)){
                $(".section > div > input").val(parseInt(now)+1);
            }else{
                $(".section > div > input").val("1");
            }
        });
        $('.checkoutButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/items";
        });
        $('#addItemButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/edit";
        });
    });
</script>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{itemType.name}}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <h1>
                <button class="btn btn-primary btn-lg checkoutButton" data-id="{{ itemType.id }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> View Available </button>
            </h1>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
        <div class="col-sm-8">    
            <table class="table">
                <thead>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ itemType.manufacturer }}</td>
                        <td>{{ itemType.model }}</td>
                        <td>$ {{ itemType.cost }}</td>
                        <td>{{itemType.description}}</td>
                        <td>
                            <button style="margin-top:0px;" id='addItemButton' type="button" data-id="{{ itemType.id }}" class="btn btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Item</button>
                        </td>
                    </tr>
                </tbody>
            </table>                
        </div>

        <div class="col-sm-4 item-photo">
            {% if itemType.image != None %}
                <img style="max-width:100%;" src="{{ itemType.image.url }}" />
            {% endif %}
        </div>

	</div>
</div>
{% endblock %}