{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        //-- Click on QUANTITY
        $(".btn-minus").on("click",function(){
            var now = $(".section > div > input").val();
            if ($.isNumeric(now)){
                if (parseInt(now) -1 > 0){ now--;}
                $(".section > div > input").val(now);
            }else{
                $(".section > div > input").val("1");
            }
        });
        $(".btn-plus").on("click",function(){
            var now = $(".section > div > input").val();
            if ($.isNumeric(now)){
                $(".section > div > input").val(parseInt(now)+1);
            }else{
                $(".section > div > input").val("1");
            }
        });
        $('.checkoutButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/items";
        });
        $('#addItemButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/edit";
        });
    });
</script>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{itemType.name}}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <button id='addItemButton' type="button" data-id="{{ itemType.id }}" class="btn btn-primary btn-lg">Edit Item</button>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">

                <div class="col-sm-8" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3>{{ itemType.name }}</h3>
                    <h5 style="color:#337ab7">Manufacturer: {{ itemType.manufacturer }} Model: {{ itemType.model }}</h5>

                    <!-- Precios -->
                    <h6 class="title-price"><small>Item Cost</small></h6>
                    <h3 style="margin-top:0px;">${{ itemType.cost }}</h3>
                    <p>{{itemType.description}}</p>
                    <!-- Detalles especificos del producto -->
                    <div class="section">
                        <h6 class="title-attr" style="margin-top:15px;" ><small>COLOR</small></h6>
                        <div>
                            <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                            <div class="attr" style="width:25px;background:white;"></div>
                        </div>
                    </div>
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr"><small>Capacity</small></h6>
                        <div>
                            <div class="attr2">16 GB</div>
                            <div class="attr2">32 GB</div>
                        </div>
                    </div>
                    <div class="section" style="padding-bottom:20px;">
                        <h6 class="title-attr"><small>Quantity</small></h6>
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input value="1" />
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>

                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn checkoutButton" data-id="{{ itemType.id }}"><span style="margin-right:20px"
                          class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> View Available</button>
                    </div>
                </div>

                <div class="col-sm-4 item-photo">
                    {% if itemType.image != None %}
                        <img style="max-width:100%;" src="{{ itemType.image.url }}" />
                    {% endif %}
                </div>

            </div>
	</div>
</div>
{% endblock %}