{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.viewButton').on('click',function(){
            window.location="/item/{{ item_type_id }}/"+$(this).attr('data-id');
        });
        $('.editButton').on('click',function(){
            window.location="/item/{{ item_type_id }}/"+$(this).attr('data-id')+"/edit";
        });
        $('#addItemButton').on('click',function(){
            window.location="/item/{{ item_type_id }}/add";
        });
        $('.checkoutButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/checkout";
        });
    });
</script>

<button id='addItemButton' type="button" class="btn btn-primary btn-lg">Add Item</button>

<table id="itemTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Serial</th>
                <th>Tag</th>
                <th>Location</th>
                <th>Checkout Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.serial }}</td>
                    <td>{{ item.tag }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.checkoutStatus }}</td>
                    <td>
                        <button type="button" data-id="{{ item.id }}" class="btn btn-primary btn-xs viewButton">View</button>
                        <button type="button" data-id="{{ item.id }}" class="btn btn-primary btn-xs editButton">Edit</button>
                        <button type="button" data-id="{{ item.id }}" class="btn btn-primary btn-xs checkoutButton">Checkout</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}