{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        //-- Click on QUANTITY
        $(".btn-minus").on("click",function(){
            var now = $(".section > div > input").val();
            if ($.isNumeric(now)){
                if (parseInt(now) -1 > 0){ now--;}
                $(".section > div > input").val(now);
            }else{
                $(".section > div > input").val("1");
            }
        });
        $(".btn-plus").on("click",function(){
            var now = $(".section > div > input").val();
            if ($.isNumeric(now)){
                $(".section > div > input").val(parseInt(now)+1);
            }else{
                $(".section > div > input").val("1");
            }
        });
        //-- Click on edit
        $('#addItemButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/edit";
        });
    });
</script>
<button id='addItemButton' type="button" data-id="{{ item.id }}" class="btn btn-primary btn-lg">Edit Item</button>
<div class="container">
    <div class="row">
       <div class="col-xs-4">
            <img style="max-width:100%;" src="https://ak1.ostkcdn.com/images/products/8818677/Samsung-Galaxy-S4-I337-16GB-AT-T-Unlocked-GSM-Android-Cell-Phone-85e3430e-6981-4252-a984-245862302c78_600.jpg" />
        </div>
        <div class="col-xs-5">
            
            <h3>{{ item.name }}</h3>
            
            <h5>Manufacturer: {{ item.manufacturer }} </h5>
            <h5>Model: {{ item.model }}</h5>

            <h6 class="title-price"><small>Item Cost</small></h6>
            
            <h3>${{ item.cost }}</h3>

            <div class="section" style="padding-bottom:20px;">
                <h6 class="title-attr"><small>Quantity</small></h6>
                <div>
                    <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                    <input value="1" />
                    <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>

            <button class="btn btn-success">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Checkout
            </button>

            <p>
                Description: {{ item.description }}
            </p>

    	</div>
    </div>
</div>
{% endblock %}