{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.viewButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id');
        });
        $('.editButton').on('click',function(){
            window.location="/item/"+$(this).attr('data-id')+"/edit";
        });
        $('#addItemButton').on('click',function(){
            window.location="/item/add";
        });
        $('#categoryButton').on('click',function(){
            window.location="/category";
        });
    });


</script>
<div class="container-fluid tableHeader">
    <div class="row">
        <div class="col-xs-4">
            <h3>Items</h3>
        </div>
        <div class="col-xs-8 text-right">
            <button id='categoryButton' type="button" class="btn btn-warning"><i class="fa fa-tasks" aria-hidden="true"></i> View Categories</button>
            <button id='addItemButton' type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add New Item</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table id="itemTable" class="display">
                <thead>
                    <tr>
                        <th class="text-right">Item</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td  class="viewButton text-right" data-id="{{ item.id }}"><b>{{ item.name }}</b></td>
                            <td class="viewButton" data-id="{{ item.id }}"><small>{{ item.manufacturer }}</small></td>
                            <td class="viewButton" data-id="{{ item.id }}"><small>{{ item.model }}</small></td>
                            <td class="viewButton" data-id="{{ item.id }}"><small>{{ item.description }}</small></td>
                            <td class="col-xs-2">
                                <button type="button" data-id="{{ item.id }}" class="btn btn-primary btn-xs viewButton"><i class="fa fa-eye" aria-hidden="true"></i> View</button>
                                <button type="button" data-id="{{ item.id }}" class="btn btn-xs editButton"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
