{% extends 'loggedoutbase.html' %}
{% block content %}
{% load widget_tweaks %}
    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/user/staff",
                dataType: "json",
                success: function (data) {
                    var userSelect = "<select name=userSelect required><option value=''>---</option>";
                    console.log(data);
                    data.users.forEach(function(user){
                        userSelect += '<option value = ' + user.username + '>'+ user.username + '</option>';
                    });

                    userSelect += '</select>';

                    if(data.users.length == 0){
                        userSelect ="<p>No staff users found</p>";
                    }

                    $('#userSelect').html(userSelect);
                },
                error: function () {
                    $('#userSelect').html("<p>No staff users found</p>");
                }
            });

        });

    </script>


    <div class="container">
        <div class="row">
            <div class="col-sm-5 text-center" style="background: #eaeaea;">
                <img style="border-radius: 50%; width: 25%; padding: 5%" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="lead">Username</p>
                <form class="form-signin" method="post">
                    {% csrf_token %}
                    <span id="reauth-email" class="reauth-email"></span>

                    <div id="userSelect">
                    </div>

                    {% render_field form.username class="form-control" placeholder=form.username.label %} <br/>

                    {% render_field form.password class="form-control" placeholder=form.password.label %} <br/>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log In</button>
                    <small><i class="fa fa-lock" aria-hidden="true"></i> Secure Login</small>
                </form><!-- /form -->
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6" style="padding-top: 5%">
                <h2>Login</h2>
                <h3>Inventory Management System</h3>
                <p class="lead">Golisano College on Information Sciences</p>
            </div>
        </div>
    </div><!-- /container -->
{% endblock %}



