{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.viewButton').on('click',function(){
            window.location="/reservationRequest/edit/"+$(this).attr('data-id');
        });
        $('#addItemButton').on('click',function(){
            window.location="/reservationRequest/";
        });
        $('#reservedItemButton').on('click',function(){
            window.location="/reservation/";
        });
    });
</script>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-6">
            <h1>Pending Requests</h1>
        </div>
        <div class="col-sm-6 text-right">
             <button id='reservedItemButton' type="button" class="btn btn-warning btn-lg"><i class="fa fa-gavel" aria-hidden="true"></i> Reserved Items</button>
             <button id='addItemButton' type="button" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Reserve an Item</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="itemTable" class="display">
                <thead>
                    <tr>
                        <th class="text-right">Item</th>
                        <th>Category</th>
                        <th>Requested By</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rr in requests %}
                        <tr>
                            <td data-id="{{ rr.id }}" class="text-right viewButton"><b>{{ rr.itemTypeID.name }}</b></td>
                            <td class="viewButton" data-id="{{ rr.id }}">{{ rr.itemSubCategoryID.subCategoryName }}</td>
                            <td class="viewButton" data-id="{{ rr.id }}">{{ rr.requester }}</td>
                            <td class="viewButton" data-id="{{ rr.id }}">{{ rr.startDate }}</td>
                            <td class="viewButton" data-id="{{ rr.id }}">{{ rr.endDate }}</td>
                            <td>
                                <button type="button" data-id="{{ rr.id }}" class="btn btn-primary btn-xs viewButton"><i class="fa fa-eye" aria-hidden="true"></i> View</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}