{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}

    <!-- signature library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

    <script>

     $(document).ready(function() {
         $(".clearButton").on('click', function () {
           signaturePad.clear();
        });

         $(".saveButton").on('click', function () {
             if (!signaturePad.isEmpty()) {
                 var dataurl = signaturePad.toDataURL();
                 var encoded = encodeURIComponent(dataurl);

                 $.ajax({
                     type: "GET",
                     url: "/signatureForm/save/"+encoded,
                     dataType: "json",
                     success: function (data) {
                         if(data.saved) {
                             $('#resultsDiv').html("<p>Signature saved successfully</p>");
                         }else{
                             $('#resultsDiv').html("<p>Signature save failed</p>");
                         }
                     },
                     error: function () {
                         $('#resultsDiv').html("<p>Signature save failed</p>");
                     }

                 });
             }else{
                 $('#resultsDiv').html("<p>Please sign in the box</p>");
             }
         });

         var canvas = document.querySelector("canvas");
         var signaturePad = new SignaturePad(canvas);

     });


    </script>
<div class="container">
    <label>Person:</label> {{ checkout.person }}<br/>
    <label>Items you are signing for:</label><br/>
    {%  for ci in checkout.checkoutitem_set.all %}
        {%  if ci.item.ItemTypeID.needsSignature == True %}
            <label>Name:</label> {{ ci.item.ItemTypeID.name}} <label>Due:</label> {{ ci.dateTimeDue}} <label>Cost: </label> $ {{ ci.item.ItemTypeID.cost}}<br/>
        {% endif %}

    {% endfor %}
</div>
<div class="container text-center">
    <div id="signature-pad">
    <div class="m-signature-pad--body">
      <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
      <p class="description text-center"><small>Please sign your name in the box above</small></p>
      <div class="text-center">
          <button class="btn" type="button" class="clearButton">Clear</button>
          <button class="btn btn-success" type="button" class="saveButton">Submit</button>
      </div>
    </div>
  </div>
</div>
<div id = "resultsDiv"></div>
{% endblock %}
