<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signature Form</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- signature library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

    <script>
     $(document).ready(function() {
         $(".clearButton").on('click', function () {
           signaturePad.clear();
        });

         $(".saveButton").on('click', function () {
             var img = signaturePad.toDataURL();
             console.log(img);
             $('#dataurl').val(img);

             $('#form').submit();
        });

         var canvas = document.querySelector("canvas");
         var signaturePad = new SignaturePad(canvas);

     });


    </script>
</head>
<body>

    <div id="signature-pad">
    <div class="m-signature-pad--body">
      <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
      <div class="description">Sign above</div>
      <button type="button" class="clearButton">Clear</button>
      <button type="button" class="saveButton">Save</button>
    </div>
  </div>

    <form method="post" action="/sgnatureForm/{{ checkout.id }}" id="form" style="{display: none}">
        {% csrf_token %}
        <input type="hidden" id="dataurl">
    </form>
</body>
</html>