{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.viewButton').on('click',function(){
            window.location="/subcategory/"+$(this).attr('data-id');
        });
        $('.editButton').on('click',function(){
            window.location="/subcategory/"+$(this).attr('data-id')+"/edit";
        });
        $('#addItemButton').on('click',function(){
            window.location="/subcategory/add";
        });
    });


</script>
<button id='addItemButton' type="button" class="btn btn-primary btn-lg">Add Sub Category</button>
<div style="margin: 15px;">
    <table id="itemTable" class="display">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Default Checkout Length</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in subcategories %}
                <tr>
                    <td>{{ cat.itemCategoryID.categoryName }}</td>
                    <td>{{ cat.subCategoryName }}</td>
                    <td>{{ cat.subCategoryDescription }}</td>
                    <td>{{ cat.defaultCheckoutLengthDays }}</td>
                    <td>
                        <button type="button" data-id="{{ cat.id }}" class="btn btn-primary btn-xs viewButton">View</button>
                        <button type="button" data-id="{{ cat.id }}" class="btn btn-primary btn-xs editButton">Edit</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}