{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.viewButton').on('click',function(){
            window.location="/reservationRequest/edit/"+$(this).attr('data-id');
        });
    });


</script>

<div style="margin: 15px;">
    <table id="itemTable" class="display">
        <thead>
            <tr>
                <th>Person</th>
                <th>Item</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Quantity</th>
                <th>Checkout Length</th>
                <th>Approved By</th>
                <th>Approved On</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reservations %}
                <tr>
                    <td>{{ r.userID }}</td>
                    <td>{{ r.itemTypeID.name }}</td>
                    <td>{{ r.startDate }}</td>
                    <td>{{ r.endDate }}</td>
                    <td>{{ r.quantity }}</td>
                    <td>{{ r.lengthOfCheckout }}</td>
                    <td>{{ r.reservationRequestID.approvedBy }}</td>
                    <td>{{ r.reservationRequestID.approvedOn }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}