{% extends 'loggedinbase.html' %}
{% block content %}
{% load widget_tweaks %}
<script>
    $(document).ready(function(){
        $('#itemTable').DataTable();

        $('.viewButton').on('click',function(){
            window.location="/reservationRequest/edit/"+$(this).attr('data-id');
        });

        $('#addItemButton').on('click',function(){
            window.location="/reservationRequest/";
        });
        $('#reservedItemButton').on('click',function(){
            window.location="/reservationRequest/pending";
        });
    });
</script>
<div class="container tableHeader">
    <div class="row">
        <div class="col-sm-6">
            <h1>Reserved Items</h1>
        </div>
        <div class="col-sm-6 text-right">
            <button id='reservedItemButton' type="button" class="btn btn-warning btn-lg"><i class="fa fa-gavel" aria-hidden="true"></i> Pending Items</button>
            <button id='addItemButton' type="button" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Request an Item</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="itemTable" class="display">
                <thead>
                    <tr>
                        <th class="col-sm-2 text-right">Item</th>
                        <th class="col-sm-1">Reserved To</th>
                        <th class="col-sm-2">Start Date</th>
                        <th class="col-sm-2">End Date</th>
                        <th class="col-sm-1">Quantity</th>
                        <th class="col-sm-1">Checkout Length</th>
                        <th class="col-sm-1">Approved By</th>
                        <th class="col-sm-2">Approved On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reservations %}
                        <tr>
                            <td class="text-right"><b>{{ r.itemTypeID.name }}</b></td>
                            <td>{{ r.userID }}</td>
                            <td>{{ r.startDate }}</td>
                            <td>{{ r.endDate }}</td>
                            <td>{{ r.quantity }}</td>
                            <td>{{ r.lengthOfCheckout }} days</td>
                            <td>{{ r.reservationRequestID.approvedBy }}</td>
                            <td>{{ r.reservationRequestID.approvedOn }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}