.navbar {
	background: #F36E21;
	border-radius: 0;
	border: none;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}
.navbar-brand {
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}
.navbar-brand img {
	max-width: 125px;
}
#addItemButton{
  margin-top: 20px;
}
.tableHeader {
	margin-bottom: 20px;
}
.dataTables_filter label {
	width: 500px;
	margin-bottom: 20px;
}
 .dataTables_filter .input-sm {
 	width: 80%;
 }
